<h1><%= link_to "GroceryMap", :root, class:"Logo" %></h1>
<div>
  <span><%= link_to "ログイン", :new_user_session, class: "HeaderRegister" %></span>
  <span><%= link_to "新規登録", :new_user_registration, class: "HeaderRegister" %></span>
</div>
